.container {
	padding: 15px;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;

	.navigation {
		display: flex;
		align-items: center;
	}

	.amount,
	.statistic {
		font-size: large;
	}
}

.next {
	margin-left: 5px;
}

.prev {
	margin-right: 5px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.month {
	border-top: 1px solid gray;
	border-left: 1px solid gray;
}

.day {
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 20px;
	width: calc(100% / 7);
	box-sizing: border-box;
	background-color: white;
	color: #000;

	.header {
		margin-bottom: 15px;
	}

	.description {
		padding: 0 15px;
	}

	.amount {
		font-size: large;

		&.random {
			color: chocolate;
		}
	}
}
